/* Directly referenced elements */

:root {
    --cream: #f8eedf;
    --wheat: #f5deb3;
    --border-gray: #3b2f2f;
    --light-orange: #e7a86a;
    --dark-orange: #e29a5c;
    --darker-orange: #db8d4f;
    --darkest-orange: #cf7f45;

    --accent-orange: #e09759;
    --soft-border: #a38260;
}

/* Linear gradient that goes from light to dark orange from the top left to bottom right */
body {
    background: linear-gradient(to bottom right,
            var(--light-orange) 0%,
            var(--dark-orange) 20%,
            var(--darker-orange) 80%,
            var(--darkest-orange) 90%);

}

a {
    text-decoration: none;
}
/* End of directly referenced elements */



/* Classes */

/* Flex container so the navbar components are spaced evenly and in the middle of the navbar */
.navbar-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbutton {
    border-radius: 10px;
    border: 1px solid var(--light-orange);
    padding: 5px;
    color: black;
    background-color: var(--wheat);
}

.navbutton:hover {
    background-color: var(--cream);
}

.about-me-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* End of classes */



/* Id's */

/* Grid container that holds EVERYTHING */
#main-grid-container {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "top-navbar top-navbar"
        "about-me skills"
        "education experience"
        "projects projects"
        "blogs blogs"
        "contact-me contact-me";
    /* Controls vertical height of containers [number of fr elements = number of rows(grid-template-areas) */
    grid-template-rows: 0.35fr 1fr 1fr 1fr 1fr 0.25fr;
    /* Controls horitzontal width of containers [number of fr elements = max(number of columns(grid-template-areas)) */
    grid-template-columns: 1fr 1fr;
    gap: 1%;

}


/* Assinging grid area names to ids */
#top-navbar {
    grid-area: top-navbar;
}

#about-me {
    grid-area: about-me;
}

#skills {
    grid-area: skills;
}

#education {
    grid-area: education;
}

#experience {
    grid-area: experience;
}

#projects {
    grid-area: projects;
}

#blogs {
    grid-area: blogs;
}

#contact-me {
    grid-area: contact-me;
}

/* Set all panels to a background color */
#top-navbar,
#about-me,
#skills,
#education,
#experience,
#projects,
#blogs,
#contact-me {
    background-color: var(--wheat);
}

/* End of id's */



/* Changes for mobile screens */

/* We must make the website responsive, especially for mobile screens < 500px in width */
@media only screen and (max-width: 500px) {
    #main-grid-container {
        grid-template-areas:
            "top-navbar"
            "about-me"
            "skills"
            "education"
            "experience"
            "projects"
            "blogs"
            "contact-me";
        /* Change the template rows to account for new containers */
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}