/* =========================================================
   BASE ELEMENT STYLES
   ========================================================= */

:root {
    --cream: #f8eedf;
    --wheat: #f5deb3;
    --border-gray: #3b2f2f;
    --light-orange: #e7a86a;
    --dark-orange: #e29a5c;
    --darker-orange: #db8d4f;
    --darkest-orange: #cf7f45;

    --accent-orange: #e09759;
    --soft-border: #a38260;

    --main-left-right-margin: 0.5rem;
}

/* Linear gradient that goes from light to dark orange from the top left to bottom right */
body {
    background: linear-gradient(to bottom right,
            var(--light-orange) 0%,
            var(--dark-orange) 20%,
            var(--darker-orange) 80%,
            var(--darkest-orange) 90%);

}

a {
    text-decoration: none;
}

h3 {
    text-align: center;
    font-size: 20px;
}

p {
    font-size: 18px;
}

* {
    font-family: 'Courier New', Courier, monospace;
}



/* =========================================================
   CLASS ELEMENT STYLES
   ========================================================= */

/* Flex container so the navbar components are spaced evenly and in the middle of the navbar */
.navbar-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: var(--main-left-right-margin);
    margin-right: var(--main-left-right-margin);
}

.navbutton,
.internal-buttons {
    border-radius: 10px;
    border: 1px solid var(--light-orange);
    padding: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: black;
    background-color: var(--wheat);
}

.navbutton:hover,
.internal-buttons:hover {
    background-color: var(--cream);
}

.about-me-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 1px solid red;
}

.skills-flex-col-container {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.skills-flex-col-container>ul {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}



/* Main flex container for putting the projects in a row */
.projects-row-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

/* Container for each individual project in the projects section */
.projects-col-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    /* Spacing between panels */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    /* Border radius for the individual projects */
    padding: 10px;
}

/* Makes the individual projects child elements align evenly by setting height to fill the entire container and then using flex-grow on 
   paragraphs */
.projects-col-flex-container>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

/* makes p occupy the same height in both containers to make content align evenly */
.projects-col-flex-container p {
    flex-grow: 1;
}


.blogs-row-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blogs-col-flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    justify-content: space-between;
}

.blogs-col-flex-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.blogs-col-flex-container p {
    flex-grow: 1;
}

.bottom-navbar-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-txt-flex-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 64px;
}





/* =========================================================
   ID ELEMENT STYLES
   ========================================================= */

/* Grid container that holds EVERYTHING */
#main-grid-container {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "top-navbar top-navbar"
        "about-me skills"
        "education experience"
        "projects projects"
        "blogs blogs"
        "contact-me contact-me";
    /* Controls vertical height of containers [number of fr elements = number of rows(grid-template-areas) */
    grid-template-rows: 0.50fr 1fr 1fr 1fr 1fr 0.50fr;
    /* Controls horitzontal width of containers [number of fr elements = max(number of columns(grid-template-areas)) */
    grid-template-columns: 1fr 1fr;
    gap: 1%;

}


/* Assinging grid area names to ids */
#top-navbar {
    grid-area: top-navbar;
}

#about-me {
    grid-area: about-me;
}

#skills {
    grid-area: skills;
}

#education {
    grid-area: education;
    text-align: center;
}

#experience {
    grid-area: experience;
    text-align: center;
}

#projects {
    grid-area: projects;
}

#blogs {
    grid-area: blogs;
}

#contact-me {
    grid-area: contact-me;
}

/* Set all panels to a background color */
#top-navbar,
#about-me,
#skills,
#education,
#experience,
#projects,
#blogs,
#contact-me {
    background-color: var(--wheat);
    border: 2px solid var(--accent-orange);
}

#my-picture {
    width: 300px;
}

#svsu-icon,
#other-school-icon,
#java-icon,
#python-icon {
    width: 200px;
}

#drumonitor-icon,
#arch-druids-domain-icon {
    width: 200px;
}

#coming-soon-image {
    width: 200px;
}



/* =========================================================
   MEDIA QUERYS/MOBILE STUFF
   ========================================================= */

/* We must make the website responsive, especially for mobile screens < 500px in width */
@media only screen and (max-width: 800px) {
    #main-grid-container {
        grid-template-areas:
            "about-me"
            "skills"
            "education"
            "experience"
            "projects"
            "blogs"
            "contact-me";
        /* Change the template rows to account for new containers */
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .projects-row-flex-container,
    .blogs-row-flex-container,
    .bottom-navbar-flex-container {
        flex-direction: column;
    }

    .bottom-navbar-flex-container {
        text-align: center;
    }

    .projects-col-flex-container,
    .blogs-col-flex-container {
        width: fit-content;
    }

    #top-navbar {
        display: none;
    }
}
